

<!DOCTYPE html>
<html>
<head>
	<title>Live Class</title>

	{% include './home/header.html' %}
</head>
<body>
	<center>
         
	<div>
           <br><br><br><br><br>
		<iframe style="size: height: 100%; width: 1000px;"  src="https://www.youtube.com/embed/live_stream?channel=UCwZd2y4g5uxQk7jWzghCrdA" frameborder="0" allowfullscreen></iframe>
          <br><br><br><br><br><br>
	
	</div>
     
     <hr>
          {{comment_api.code|safe}}
	
               </center>
	</center>

	{% include './home/footer.html' %}
</body>
</html>